---
title: About
layout: default.hbs
bodyClass: about
description: Freelance UX designer and front-end developer from Oxfordshire, UK working at the intersection of well thought-out design and front-end build.
---

<main class="main">
  <div class="page-intro">
    <p class="intro"><span class="wave-emoji">👋</span> My name's Sam, I'm a freelance UX designer and front-end developer from Oxfordshire, UK. I work at the intersection of well thought-out design and front-end build.</p>
  </div>

  <div class="site-width">
    <div class="page-content">
      <div class="about-img">
        <img
          src="/img/my-head-120.jpg"
          sizes="(max-width: 719px) 120px,
                 (min-width: 720px) and (max-width: 899px) 160px,
                 (min-width: 900px) 180px"
          srcset="/img/my-head-120.jpg 120w,
                  /img/my-head-160.jpg 160w,
                  /img/my-head-180.jpg 180w,
                  /img/my-head-240.jpg 240w,
                  /img/my-head-320.jpg 320w,
                  /img/my-head-360.jpg 360w"
          alt="Sam Bowler">
      </div>

      <p>My skills span from building an understanding of how users perceive your web presence through to building performant, maintainable and scalable websites and web apps.</p>

      <p>With more than 10 years of experience in the industry, I have lead both UX and front-end development on a multitude of large scale projects for clients including The Silver Spoon Company, HMV, and Twinings.</p>

      <section class="skill-areas">
        <h2>My skills cover two increasingly complementary areas of the web</h2>

        <div class="skill-areas__inner">
          <div class="skill-area">
            <h3>UX and Interaction Design</h3>

            <p>From workshops and research to wireframes and prototypes, I can help bring a user-centred approach to your project. My ability to also understand the technical implications of decisions helps to mitigate risk at the early stages of your project.</p>
          </div>

          <div class="skill-area">
            <h3>Front-end Development</h3>

            <p>I've worked on small sites through to enterprise ecommerce sites and web apps with a wide range of technology including HTML, CSS, ES6 JavaScript (inc. Node), Vue, React, and various CMS's.</p>

            <p>My code is modular, scalable, and efficient and my ability to empathise with the user leads to a refined and quality experience.</p>
          </div>
        </div>
      </section>

      <section class="experience">
        <h3>I've worked a whole bunch with&hellip;</h3>

        <ul class="experience__list">
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Large-scale CSS architectures</li>
          <li>BEM</li>
          <li>Sass</li>
          <li>Git</li>
          <li>Gulp</li>
          <li>Stakeholder workshops</li>
          <li>Grunt</li>
          <li>Vanilla JS</li>
          <li>Performance optimisation</li>
          <li>jQuery</li>
          <li>Axure</li>
          <li>Photoshop</li>
          <li>Sketch</li>
          <li>Google Analytics</li>
          <li>Stakeholder and customer interviews</li>
          <li>CMSs (Kentico, Sitecore, WordPress, Drupal)</li>
        </ul>

        <h3>I've done quite a bit of work with&hellip;</h3>

        <ul class="experience__list">
          <li>Service workers</li>
          <li>Webpack</li>
          <li>ES6</li>
          <li>Vue.js</li>
          <li>Babel</li>
          <li>ARIA and accessibility</li>
          <li>Google Tag Manager</li>
          <li>Qualitative and quantitative surveys</li>
          <li>React</li>
          <li>SEO</li>
          <li>Node</li>
        </ul>

        <h3>I've done some, but would like to do more with&hellip;</h3>

        <ul class="experience__list">
          <li>Angular</li>
          <li>Electron</li>
        </ul>
      </section>

      {{!-- TODO: Add testimonial --}}

      <p class="about-cta">
        <a class="btn btn--alt btn--sec" href="https://linkedin.com/in/sambowler" target="_blank">Full CV on LinkedIn</a>
        <button class="btn btn--alt btn--sec js-show-contact">Get in touch</button>
      </p>
    </div>
  </div>

  {{!-- TODO: Add contact CTA --}}
</section>
