---
layout: default.hbs
bodyClass: home
section: home
description: Freelance UX designer and front-end developer from Oxfordshire, UK.
---

<main class="main home-info">
  <div class="site-width">
    <div class="home-info__detail">
      <h2>We should work together if&hellip;</h2>

      <ul>
        <li>You need someone who is highly proficient with HTML, CSS, and JavaScript and can develop front-end codebases for large-scale projects</li>
        <li>You have an idea and need someone who can help validate that idea and develop an MVP</li>
        <li>You need a Vue, React or other JavaScript (incl. ES6) developer</li>
        <li>You need a front-end developer who also has a detailed understanding of how important user experience is to the success of a project</li>
        <li>You have low conversion rates and want to understand how assessing the user experience can turn things around</li>
        <li>You're experiencing performance problems with your site and you need someone to recommend solutions or fix them</li>
      </ul>

      {{!-- <p>I'm happiest when my work solves a tangible problem for users. That may be realised by building a challenging or creative user interface or working through a tricky UX dilemna but either way, my focus will be producing the best solution to that problem.</p> --}}

      <div class="home-info__cta">
        <a class="btn btn--alt btn--sec" href="/about">More about me</a>
        <button class="btn btn--alt btn--sec js-show-contact">Get in touch</button>
      </div>
    </div>
  </div>

  <div class="home-info__quote">
    <div class="site-width">
      <blockquote>
        <p>Sam is thoughtful and detailed in his approach to the task at hand, but also personable and approachable, with a gift for building good, credible relationships with the people around him, as confirmed by several clients we worked with together at Ridgeway.</p>

        <p>Whether developing a new UI for a project or running UX-focused workshops for clients, Sam can be depended on to do a great job.</p>

        <cite>Stuart Gibson, Head of Production, Ridgeway</cite>
      </blockquote>
    </div>
  </div>
</main>

<div class="home-cta">
  <div class="site-width">
    <div class="home-cta__inner">I've been lucky enough to work on a variety of great <a href="/projects">projects</a></div>
  </div>
</div>

