---
title: Projects
layout: default.hbs
bodyClass: projects
description: I've had the chance to work with clients including The Silver Spoon Company, HMV, Twinings.
---

<main class="main">
  <div class="page-intro">
    <p>I've had the chance to work with clients including The Silver Spoon Company, HMV, Twinings.</p>
  </div>

  <div class="project-list">
    <div class="site-width">
      {{#each collections.projects}}
        {{#if title}}
        <article class="project-item">
          <h2><a href="/{{path}}">{{title}}</a></h2>

          {{#if description}}<p>{{{description}}}</p>{{/if}}

          {{#if skills}}
            <ul class="project-item__skills">
            {{#each skills}}
              <li>{{this}}</li>
            {{/each}}
          {{/if}}
        </article>
        {{/if}}
      {{/each}}
    </div>
  </div>
</main>
