{{!-- TODO: Move to swig: http://node-swig.github.io/swig-templates/docs/#inheritance --}}

{{>header}}

{{#isHome}}
  <header class="home-hero">
    {{>nav}}

    <div class="site-width">
      <div class="home-hero__inner">
        <div class="home-hero__img">
          <img
            src="/img/my-head-150.jpg"
            sizes="(max-width: 759px) 150px,
                  (min-width: 760px) 200px"
            srcset="/img/my-head-150.jpg 150w,
                    /img/my-head-200.jpg 200w,
                    /img/my-head-300.jpg 300w,
                    /img/my-head-400.jpg 400w"
            alt="Sam Bowler">
        </div>

        <h1>Sam Bowler</h1>

        <p>Freelance UX designer and front-end developer from Oxfordshire, UK.</p>
      </div>
    </div>
  </header>
{{else}}
  {{>nav}}
{{/isHome}}

{{{contents}}}

{{>footer}}
