{{>header}}

<header class="project-header">
  {{>nav}}

  <div class="site-width">
    <h1>{{title}}</h1>

    {{#if link}}
      <a class="project__link" href="{{link}}" target="_blank">{{link_text}}</a>
    {{/if}}
  </div>
</header>

<main class="main">
  <div class="page-intro">
    <p>{{{description}}}</p>

    {{#if skills}}
    <ul class="project__skills">
      {{#each skills}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if date}}
      <p class="project__date">Date: {{date}}</p>
    {{/if}}
  </div>

  <div class="site-width">
    <div class="page-content">
      {{{contents}}}
    </div>
  </div>

</main>

<div class="project-footer">
  <div class="site-width">
    <a class="btn btn--alt btn--sec" href="/projects">Back to projects</a>
  </div>
</div>

{{>footer}}
