.wave-emoji {
  display: none;
}

.is-emoji-compatible {
  .wave-emoji {
    display: inline;
  }
}

.about-img {
  --img-size: 120px;

  width: var(--img-size);
  height: var(--img-size);
  float: right;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
  shape-outside: border-box;
  shape-margin: 10px;

  img {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about-cta {
  margin: 40px 0;
  text-align: center;
}

.skill-areas {
  h2 {
    font-size: 22px;
    margin-bottom: 14px;
  }
}

.skill-area {
  background: #f0f0f0;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 5px;

  h3 {
    margin-top: 0;
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.experience {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #eee;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;

  h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 6px;
  }
}

.about .experience__list {
  list-style-type: none;
  margin: 0 0 24px;
  padding: 0;

  li {
    display: inline-block;
    // font-size: 13px;
    @include fluid-type(font-size, 320px, 1024px, 13px, 15px);
    border-radius: 3px;
    padding: 3px 6px;
    color: $c-rangitoto;
    margin-top: 2px;
    margin-bottom: 2px;
    background: #eee;

    &::before {
      display: none;
    }
  }
}

@media (min-width: 560px) {
  .about {
    .main > .site-width {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      max-width: $w-max-content;
    }
  }
}

@media (min-width: 680px) {
  .skill-areas {
    h2 {
      margin-bottom: 15px;
      font-size: 24px;
    }
  }

  .skill-area {
    padding: 20px;

    h3 {
      font-size: 22px;
    }

    p {
      font-size: 15px;
    }
  }

  .about-cta {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  @supports (display: grid) {
    .skill-areas__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }
  }
}

@media (min-width: 720px) {
  .about-img {
    --img-size: 160px;
  }
}

@media (min-width: 760px) {
  .about {
    .main > .site-width {
      width: 80%;
    }
  }

  .about-cta {
    margin-top: 50px;
    margin-bottom: 60px;
  }
}

@media (min-width: 900px) {
  .about-img {
    --img-size: 180px;
  }

  .experience {
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .experience__list {
    margin-bottom: 28px;
  }
}
