.home-hero {
  background-color: $c-rangitoto;
  background-image: linear-gradient(to bottom, rgba($c-rangitoto, 0) 0, $c-rangitoto 100%), url('/img/contour-pattern-light.svg');
  text-align: center;
  padding-bottom: 50px;
  position: relative;

  .nav {
    margin-bottom: 50px;
    background: none;
  }

  h1 {
    @include fluid-type(font-size, 320px, 1024px, 38px, 52px);
    margin: 0 0 6px;
    line-height: 1;
    color: #fff;
  }

  p {
    margin: 0;
    font-size: 18px;
    color: rgba(#fff, 0.8);
  }
}

.home-hero__inner {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.home-hero__img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 0 0 120px 10px rgba(#000, 0.5);
  background: #000;

  img {
    display: block;
    width: 100%;
  }
}

.home-info {
  background: #fff;
  padding-top: 50px;
  position: relative;
}

.home-info__detail {
  color: #737677;

  h2 {
    margin-top: 0;
    font-size: 22px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: flex;
    margin-bottom: 18px;

    &::before {
      content: '';
      display: block;
      background: #f0f0f0 url('./img/icons.svg#arrow-right') no-repeat center;
      background-size: 16px;
      border-radius: 100%;
      flex: 0 0 22px;
      width: 22px;
      height: 22px;
      margin-top: 3px;
      margin-right: 12px;
    }
  }
}

.home-info__cta {
  margin-top: 30px;
  text-align: center;

  button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.home-info__quote {
  position: relative;
  z-index: 1;
  margin-top: 80px;
  padding: 60px 20px;
  background: $c-nobel;
  text-align: center;
  color: #fff;

  > .site-width {
    max-width: 800px;
  }

  blockquote {
    margin: 0;
    font-style: italic;
  }

  p {
    font-size: 20px;
    line-height: 1.3;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child::before,
    &:last-of-type::after {
      font-size: 170px;
      line-height: 1;
      font-weight: 700;
      font-style: normal;
      position: absolute;
      color: rgba($c-rangitoto, 0.1);
      z-index: -1;
    }

    &:first-child::before {
      content: '“';
      top: 0;
      left: -20px;
      transform: rotate(-8deg);
    }

    &:last-of-type::after {
      content: '”';
      bottom: -70px;
      right: -20px;
      transform: rotate(8deg);
    }
  }

  cite {
    font-size: 15px;
    color: rgba(#fff, 0.6);
    margin: 10px 0 0;
    font-style: normal;
    display: block;
    text-transform: uppercase;

    &::before {
      content: '';
      display: inline-block;
      margin-top: -2px;
      height: 2px;
      width: 10px;
      vertical-align: middle;
      left: 0;
      z-index: -1;
      background: rgba($c-rangitoto, 0.2);
      margin-right: 6px;
    }
  }
}

.home-cta {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 22px;
  line-height: 1.35;

  > .site-width {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  a {
    background: $c-equator;
    display: inline-block;
    padding: 2px 5px 3px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: 0.1s ease;

    &:after {
      content: '›';
      display: inline-block;
      margin-left: 4px;
    }

    &:hover {
      background-color: darken($c-equator, 15%);
    }
  }
}

@media (min-width: 650px) {
  .home-info__quote {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (min-width: 760px) {
  .home-info {
    padding-top: 80px;
  }

  .home-hero {
    p {
      font-size: 20px;
    }
  }

  .home-hero__inner {
    max-width: 400px;
  }

  .home-hero__img {
    width: 200px;
    height: 200px;
  }

  .home-info__detail {
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 28px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      // margin-left: -16px;
      // margin-right: -16px;
    }

    li {
      width: 33.333%;
      padding-left: 16px;
      padding-right: 16px;
      margin-bottom: 32px;
    }
  }

  .home-info__cta {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  .home-info__detail {
    font-size: 18px;

    h2 {
      font-size: 34px;
      margin-bottom: 26px;
    }

    ul {
      column-gap: 30px;
    }
  }

  .home-cta {
    font-size: 26px;
  }
}
