.project-header {
  background-color: $c-rangitoto;
  background-image: linear-gradient(to bottom, rgba($c-rangitoto, 0) 0, $c-rangitoto 100%), url('/img/contour-pattern-light.svg');
  color: #fff;
  text-align: center;
  padding-bottom: 25px;
  position: relative;

  h1 {
    color: inherit;
    margin: 25px 0 0;
    font-size: 28px;
    @include fluid-type(font-size, 320px, 1024px, 30px, 42px);
  }
}

.project {
  .project__skills,
  .project__date {
    font-size: 14px;
    color: rgba(#fff, 0.75);
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.project__link {
  text-decoration: none;
  color: $c-equator;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    color: darken($c-equator, 15%);
  }
}

.project__skills {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: 4px;
    letter-spacing: 1px;

    &::after {
      content: '\00d7';
      display: inline-block;
      margin-left: 8px;
      color: #ddd;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.back-to-projects {
  text-transform: uppercase;
  font-size: 12px;
  color: #737677;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;

  &::before {
    content: '←';
    display: inline-block;
    margin-right: 4px;
  }
}

.project-content {
  > .site-width {
    max-width: $w-max-content;
  }
}

.project-footer {
  text-align: center;
  margin: 30px 0 50px;

  .btn {
    display: inline-block;

    &:before {
      content: '←';
      display: inline-block;
      margin-right: 4px;
    }
  }
}

@media (min-width: 560px) {
  .project {
    .main > .site-width {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      max-width: $w-max-content;
    }
  }

  .project__link {
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .project-header {
    padding-bottom: 40px;
  }
}

@media (min-width: 760px) {
  .project {
    .main > .site-width {
      width: 80%;
    }
  }
}
