.project-list {
  margin: 0;
  padding: 0 0 40px;
  list-style-type: none;
  overflow: hidden;
}

.project-item {
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;

  &::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: $c-rangitoto;
    margin: 30px auto 0;
  }

  h2 {
    @include fluid-type(font-size, 320px, 1024px, 28px, 34px);
    margin-top: 0;
  }

  p {
    @include fluid-type(font-size, 320px, 1024px, 15px, 18px);
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: $c-equator;
    transition: color 0.1s ease;

    &:hover {
      color: darken($c-equator, 15%);
    }
  }
}

.project-item__skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #999;
  text-transform: uppercase;
  font-size: 13px;

  li {
    display: inline-block;
    margin-right: 4px;
    letter-spacing: 1px;

    &::after {
      content: '\00d7';
      display: inline-block;
      margin-left: 8px;
      color: #ddd;
    }

    &:last-child::after {
      display: none;
    }
  }
}

@media (min-width: 700px) {
  .project-item {
    margin-top: 10px;
    margin-bottom: 40px;

    &::after {
      margin-top: 40px;
    }
  }
}
