* { box-sizing: border-box; }

*:focus {
  outline: 3px solid $c-equator;
  outline-offset: 2px;
}

html, body {
  height: 95%;
  min-height: 95%;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  line-height: 1.4;
  color: #444;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #f0f0f0;

  &::after {
    content: '';
    position: fixed;
    display: block;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba($c-rangitoto, 0.8);
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &.is-showing-modal {
    &::after {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

img {
  max-width: 100%;
}

// Headings
h1,
h2,
h3,
h4 {
  color: $c-rangitoto;
  font-weight: 500;
  margin-top: 0;
  letter-spacing: -1px;
}

h2 {
  font-size: 28px;
  margin-top: 28px;
  margin-bottom: 10px;
}

h3 {
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 8px;
}

p {
  margin-top: 0;
  font-size: 15px;
  margin-bottom: 1.4em;
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #ee6055;
  box-shadow: 0 2px 4px rgba(#ee6055, 0.5);
  z-index: 10;
  border-radius: 0 2px 2px 0;
}

.page-wrapper {
  max-width: $w-max-page;
  margin: 0 auto;
  box-shadow: 0 0 40px rgba($c-rangitoto, 0.2);
  position: relative;
  overflow: hidden;
  min-height: 100%;
  background: #fff;
}

.site-width {
  max-width: 800px;
  margin-left: 20px;
  margin-right: 20px;
}

.page-intro {
  padding: 26px 0;
  background: $c-salt-box;
  text-align: center;
  color: #fff;
  margin-bottom: 26px;
  position: relative;

  p {
    @include fluid-type(font-size, 320px, 1024px, 18px, 25px);
    width: 80%;
    max-width: $w-max-content;
    margin: 0 auto 0.6em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .page-intro__sub {
    @include fluid-type(font-size, 320px, 1024px, 13px, 16px);
    color: rgba(#fff, 0.75);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.page-content {
  p {
    @include fluid-type(font-size, 320px, 1024px, 15px, 18px);
  }

  .intro {
    @include fluid-type(font-size, 320px, 1024px, 20px, 22px);
  }

  ul {
    padding: 0;
    margin: 20px 0;
    @include fluid-type(font-size, 320px, 1024px, 13px, 16px);
  }

  li {
    display: flex;
    margin-bottom: 5px;

    &::before {
      content: '';
      display: block;
      background: #f0f0f0 url('./img/icons.svg#arrow-right') no-repeat center;
      background-size: 12px;
      border-radius: 100%;
      flex: 0 0 16px;
      width: 16px;
      height: 16px;
      margin-top: 3px;
      margin-right: 10px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    box-shadow: 0 -2px 0 0 $c-equator inset;
    transition: 0.2s ease;

    &:hover {
      color: $c-rangitoto;
      background-color: $c-equator;
    }
  }

  .btn {
    box-shadow: none;
  }

  .fig {
    margin: 20px -10px;

    img {
      width: 100%;
    }

    figcaption {
      text-transform: uppercase;
      font-size: 13px;
      color: #999;
    }
  }
}

.fab {
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  background: $c-equator url('/img/contour-pattern-light.svg');
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24);
  transition: 0.1s ease;
  overflow: hidden;

  &:hover {
    .fab-contact {
      transform: translateX(-50px);
      opacity: 0;
    }

    .fab-cursor {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.fab__icon {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    margin-left: -11px;
}

.fab-contact {
  stroke: #000;
  transition: 0.2s ease;
}

.fab-cursor {
  fill: #000;
  opacity: 1;
  transform: translateX(50px);
  transition: 0.2s ease;
}

@media (min-width: 560px) {
  .page-content {
    .fig {
      width: 50%;
      margin-top: 0;

      &.is-right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
      }

      &.is-left {
        float: left;
        margin-right: 20px;
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 760px) {
  .fab {
    bottom: 32px;
    right: 32px;
    width: 64px;
    height: 64px;
  }

  .page-intro {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
  }
}

@media (min-width: 800px) {
  .site-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .site-width {
    max-width: 1024px;
  }
}

@media (min-width: $w-max-page) {
  .fab {
    right: calc((50% - (#{$w-max-page} / 2)) + 32px);
  }
}

@media (min-width: #{$w-max-page + 50px}) {
  .page-wrapper {
    margin-top: 30px;
    border-radius: 6px;
  }
}
