button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
}

.form-group {
  margin-bottom: 18px;

  label {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0 0 5px;
    color: rgba(#000, 0.8);
  }

  input,
  textarea {
    width: 100%;
    padding: 3px 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    background: none;
    border: none;
    border-bottom: 3px solid rgba(#fff, 0.4);
    color: #fff;
    transition: 0.2s ease;

    &:focus {
      outline: none;
      border-bottom-color: #fff;

      &::placeholder {
        color: rgba(#fff, 0.2);
      }
    }

    &::placeholder {
      color: rgba(#fff, 0.4);
    }
  }

  textarea {
    resize: none;
  }
}

@media (min-width: 500px) {
  .form-group {
    label {
      font-size: 14px;
    }

    input,
    textarea {
      font-size: 20px;
    }
  }
}
