.btn {
  display: inline-block;
  border: none;
  border-radius: 20px;
  background: $c-nobel;
  color: rgba(#000, 0.9);
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;

  &[disabled] {
    opacity: 0.4;
    cursor: auto;
  }
}

.btn--prim {
  background: $c-salt-box;
  color: #fff;
}

.btn--alt {
  background: transparent;
  border: 2px solid #ccc;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
  transition: 0.1s ease;

  &:hover {
    color: #fff;
    background-color: #666;
    background-image: url('/img/contour-pattern-light.svg');
  }
}

.btn--prim.btn--alt {
  border-color: $c-hibiscus;
  color: $c-hibiscus;

  &:hover {
    color: #fff;
    background-color: $c-hibiscus;
  }
}

.btn--sec.btn--alt {
  border-color: rgba(darken($c-equator, 15%), 0.3);
  color: darken($c-equator, 15%);

  &:hover {
    background-color: darken($c-equator, 15%);
    color: #fff;
  }
}

a {
  color: #000;
}

@media (min-width: 850px) {
  .btn {
    border-radius: 30px;
    padding: 9px 21px;
    font-size: 15px;
  }

  .btn--alt {
    border-width: 3px;
  }
}
