// @mixin border-sm($bg: transparent, $inverse: false) {
//   $height: 20px;
//
//   &::after {
//     // content: '';
//     // display: block;
//     // position: absolute;
//     // left: 0;
//     // width: 100%;
//     // height: $height;
//     // background: $bg;
//     // z-index: 1;
//     //
//     // @if $inverse {
//     //   border-radius: 50%/50% 50% 0 0;
//     //   top: -#{$height - 2px}; // Chrome rendering issue
//     // } @else {
//     //   bottom: -#{$height - 2px}; // Chrome rendering issue
//     //   border-radius: 0 0 50% 50%/50%;
//     // }
//   }
// }
//
// @mixin border-md() {
//   &::after {
//     // clip-path: polygon(0 0, 100% 0, 100% 5px, 0 100%);
//     // clip-path: ellipse(60% 100% at 50% 0);
//   }
// }

// https://www.sassmeister.com/gist/7f22e44ace49b5124eec
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
