.contact {
  // Prevent the element from showing on overflow scroll on macs
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background: $c-equator;
  background-image: linear-gradient(to bottom, rgba($c-equator, 0) 0, $c-equator 100%), url('/img/contour-pattern-light.svg');
  color: $c-rangitoto;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  transform: translateY(100%);
  transition: opacity 0s linear 0.2s, transform 0.2s ease-out;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.2s ease-out;
  }

  &.is-offline {
    .contact__offline {
      display: flex;
    }

    .contact-form {
      opacity: 0.3;
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    @include fluid-type(font-size, 320px, 1024px, 28px, 38px);
  }
}

.contact__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  p {
    flex: 1 0 100%;
    margin-top: 10px;
    @include fluid-type(font-size, 320px, 1024px, 15px, 18px);
  }

  a {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 -2px 0 0 $c-rangitoto inset;
    transition-property: background, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    &:hover {
      color: rgba(#fff, 0.9);
      background-color: $c-rangitoto;
    }

    &:focus {
      box-shadow: none;
      outline: 2px solid $c-rangitoto;
    }
  }
}

.contact__close {
  background: none;
  border: none;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  cursor: pointer;

  &:focus {
    outline: 2px solid $c-rangitoto;
  }
}

.contact__inner {
  position: relative;
  margin-top: 20px;
}

.contact-form-action {
  text-align: right;
}

.submit-contact-form {
  border-color: #fff;
  color: #fff;

  &:hover {
    background-color: #fff;
    color: $c-rangitoto;
  }
}

.contact__offline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;

  p {
    background: rgba(#fff, 0.75);
    padding: 12px;
    border-radius: 3px;
    max-width: 75%;
    text-align: center;
  }
}

@media (min-width: 450px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 640px) {
  .contact {
    > .site-width {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contact__close {
    width: 50px;
    height: 50px;
    font-size: 28px;
  }
}

@media (min-width: 1000px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
