.header {
  background-color: $c-rangitoto;
  background-image: linear-gradient(to bottom, rgba($c-rangitoto, 0) 0, $c-rangitoto 100%), url('/img/contour-pattern-light.svg');
  position: relative;
  color: #fff;

  h1 {
    margin: 0;
    display: inline-block;
    color: inherit;
    font-size: 28px;
    @include fluid-type(font-size, 320px, 1024px, 30px, 34px);

    &::before {
      content: '›';
      display: inline-block;
      color: rgba(#fff, 0.4);
      margin-right: 12px;
    }
  }
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__parent {
  margin-right: 6px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  height: 82px;
  width: 36px;
  margin-left: -5px;

  svg {
    width: 25px;
    margin-top: 2px;
  }
}

@media (min-width: 760px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
