.nav {
  background-color: $c-rangitoto;
  background-image: linear-gradient(to bottom, rgba($c-rangitoto, 0) 0, $c-rangitoto 100%), url('/img/contour-pattern-light.svg');
  z-index: 2;
  font-size: 12px;
  text-transform: uppercase;
  box-shadow: 0 0 10px rgba(#000, 0.2);
  color: #111;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 40px;
    display: flex;
  }
}

.nav__item {
  $c-inactive: #777;

  flex: 1;
  flex-basis: 100%; // Fix IE11 overflow issue
  max-width: 125px;
  text-align: center;
  position: relative;

  &.is-active {
    a {
      color: #fff;
    }

    svg {
      stroke: #fff;
    }
  }

  a {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 14px;
    text-decoration: none;
    transition: background 0.1s ease-out;
    font-weight: 500;
    -webkit-tap-highlight-color: transparent;
    color: $c-inactive;

    &:hover {
      background: rgba(#fff, 0.1);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    margin-bottom: 5px;
    stroke: $c-inactive;
  }
}

@media (min-width: 400px) {
  .nav {
    ul {
      justify-content: center;
    }
  }
}

@media (min-width: 550px) and (min-height: 400px) {
  .nav {
    font-size: 14px;

    svg {
      width: 32px;
      height: 32px;
      margin-bottom: 8px;
    }

    a {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

@media (min-width: 750px) and (min-height: 500px) {
  .nav {
    font-size: 16px;

    svg {
      width: 36px;
      height: 36px;
    }

    li {
      max-width: 150px;
    }
  }
}
