.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f0f0f0;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  animation: showToast 0.15s ease-out;
  animation-fill-mode: forwards;

  &.is-hiding {
    animation: hideToast 0.4s ease;
    animation-fill-mode: both;
  }

  &__inner {
    margin: 16px auto;
    max-width: 400px;
    background: #222;
    box-shadow: 2px 2px 3px rgba(#000, 0.2);
    border-radius: 3px;
    padding: 16px;
  }
}

@keyframes showToast {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes hideToast {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
