---
layout: project.hbs
bodyClass: project
title: Baking Mad
position: 1
description: Adding a <em>sprinkle</em> of innovation to a recipe and community site for The Silver Spoon Company.
skills:
- Stakeholder workshops
- UX design
date: 2016
link: https://bakingmad.com
link_text: Visit site
---

<p>Baking Mad is a recipe site run by The Silver Spoon Company. Whilst working at <a href="http://ridgeway.com">Ridgeway</a>, I ran a series of workshops with stakeholders from across the business and then developed the findings from these workshops in to a user experience which aimed to set Baking Mad apart in a crowded marketplace.</p>

<p>The workshops and understanding of users that the Baking Mad team already brought to the table allowed us to identify a number of opportunities to improve the experience beyond just modernisation of the existing site. These focused around two key areas: recipe discovery and the baking experience.</p>

<h2>Recipe discovery</h2>

<p>With more than a thousand recipes developed by the Baking Mad team, developing a way to find these easily was a daunting task.</p>

<p>We started by identifying the different contexts under which users search for recipes. They are typically: looking for a <em>type</em> of recipe (e.g. cheesecakes), looking for a recipe for an event (e.g. birthday) or looking for a recipe that satisfies a particular dietary need (e.g. gluten free). This insight allowed us to build a <a href="https://www.bakingmad.com/recipes">recipes</a> landing page that serves both as inspiration and utility.</p>

<h2>The baking experience</h2>

<p>The internet is so awash with recipes that it's often hard to pick one over another. With more and more users relying on devices to follow recipes in addition to traditional print outs there was an opportunity for Baking Mad to provide a great baking experience and keep users coming back for more.</p>

<p>The workshops and secondary research that we conducted identified a number of problems with the experience provided by most recipe sites when the user is following a recipe:</p>

<ul>
  <li>The device goes to sleep, turning the display off</li>
  <li>It's hard to jump back and forth between the ingredients and method</li>
  <li>Ingredients are in an unfamiliar unit of measurement</li>
  <li>Advanced techniques are referenced with little explanation</li>
  <li>Printed versions of the recipe contain unnecessary information</li>
</ul>

<p>To address a number of these points, we introduced the concept of a "bake mode" which would allow the user to view the recipe in an easy-to-read format. Each method step is displayed in large text with the ingredients required for that step alongside it and the user can easily swipe through these steps on touch devices (even with dough-covered hands!). The bake mode also includes an experimental feature which will force the display to stay awake.</p>

<p>When users choose to print a recipe they are given the option to hide elements of the print out and change the units, allowing them to customise the page to their needs.</p>
