---
bodyClass: project
layout: project.hbs
title: Simple Daily Budget
description: Scratching a personal itch and exploring a new platform by working on a project outside of my comfort zone.
skills:
- UX design
- Visual design
- Java development
position: 3
link: https://play.google.com/store/apps/details?id=sambowler.simpledailybudget
link_text: View on Google Play Store
---

<p>Simple Daily Budget is a side project that I've been working on for around a year. It's a budgeting app that makes tracking your spending less boring.</p>

<h2>The idea</h2>

<p>The idea came from an app that my wife and I used in the early days of iOS, <a href="http://www.macworld.com/article/1158360/lefttospend.html">Left to Spend</a>. The premise is that you have a running total of remaining money to which a specified amount is added every day. We fell in love with the simplicity of this approach when using the original app and I wanted to bring that back.</p>

<p>There was nothing similar available on Android so I set out to build upon that original idea. I wanted to take an approach that would retain the feeling of simplicity but also allow users to gain deeper understanding from the rich data that the app was collecting. From a business perspective, the extra features would also give users a reason to upgrade &mdash; research shows that Android apps tend to be more successful when working on a freemium model.</p>

<h2>Lean</h2>

<p>At the time, I was reading <a href="http://theleanstartup.com/">The Lean Startup</a> and <a href="http://shop.oreilly.com/product/0636920021827.do">Lean UX</a> by Eric Ries and Jeff Gothelf respectively. Embarking on this project allowed me to put the learnings from those two books in to practice. Two aspects in particular defined the direction of Simple Daily Budget: the &quot;build, measure, learn&quot; process and the concept of an MVP. Although I'd worked with the concept of an MVP before, it was always a loose term that usually ended up creeping in scope anyway. For Simple Daily Budget every feature-based decision that I made pre-launch was framed around whether it was absolutely necessary in order for a user to accomplish their goals.</p>

<p>This approach allowed me to launch the app relatively quickly and proved that there was appetite before attempting to convince my wife that it was worth investing more of my spare time!</p>

<h2>Broadening horizons</h2>

<p>This project allowed me to broaden my horizons in a couple of areas. I'd only previously written a few lines of Java code and learning that, as well as the Android SDK, from scratch was a daunting task at first but quickly became more rewarding as I kept working on the app. It's always nice to get your head in to something completely new and brings back those early levels of satisfaction!</p>

<p>Working on Simple Daily Budget also allowed me to explore the other end of the spectrum: marketing. I had picked up a lot of anecdotal knowledge from working with marketing managers on a regular basis in my day job, but putting that in to practice is very different. I've experimented with various advertising techniques, split testing, and direct marketing to varying levels of success. Throughout, I've applied the MVP mentality, starting small with each technique and then doubling down on the methods that have shown positive growth.</p>

<h2>User testing</h2>

<p>The app has also allowed me to explore different approaches to something I am more comfortable with: guerrilla user testing. Everybody with an Android phone that I've seen since the app went live has been forced to install it on the spot. Doing this has given me an extensive insight in to where people have struggled. Insights have ranged from simple usability issues to complete misunderstanding of the concept but almost all have given me actionable takeaways. User testing doesn't have to be scientific to make a difference.</p>
