---
layout: project.hbs
bodyClass: project
title: UK Radio Player
description: Cross-platform Electron and Vue.js app for listening to digital radio stations.
skills:
- UX design
- Visual design
- Vue.js development
date: 2017
position: 2
---

<p>Moving in to life as a freelancer, I knew I'd be spending a lot more time working remotely. As a result, I looked for a Mac app that could sit in the background and play the radio (at least I'd have some company!). Unable to find anything simple and well designed, I set about building one myself.</p>

<p>Having followed the Electron project for some time, I was intrigued by the technology and this seemed like a good opportunity to experiment with something new. Vue.js has long been my preference over React due to better support for incremental adoption, <a href="https://vuejs.org/v2/guide/single-file-components.html">single file components</a>, and, to me, friendlier syntax.</p>

<figure class="fig is-right">
  <img
    src="/img/uk-radio-player-interface-250.jpg"
    sizes="(max-width: 559px) 98vw,
          (min-width: 560px) and (max-width: 899px) 50vw,
          (min-width: 900px) 350px"
    srcset="/img/uk-radio-player-interface-250.jpg 250w,
          /img/uk-radio-player-interface-350.jpg 350w,
          /img/uk-radio-player-interface-450.jpg 450w,
          /img/uk-radio-player-interface-500.jpg 500w,
          /img/uk-radio-player-interface-550.jpg 550w,
          /img/uk-radio-player-interface-700.jpg 700w,
          /img/uk-radio-player-interface-900.jpg 900w,"
    alt="UK Radio Player interface">

  <figcaption>The UK Radio Player interface</figcaption>
</figure>

<p>The front-end is supported by a server which provides the list of stations compiled by a simple scraper which builds a list of stations along with their URL sources. Playback is handled by a <a href="http://www.mediaelementjs.com/">MediaElement.js</a> player (which natively handles MP3 streams) sitting in the background.</p>

<p>Although I've been impressed with Electron's APIs and support when building the app, the file sizes for compiled applications are exorbitant. There are no heavy weight assets or large volumes of code for UK Radio Player, yet it still weights in at more than 100mb when built. There are <a href="https://github.com/pojala/electrino">efforts</a> to reduce this but I can see why users would question such a large download for a relatively simple application.</p>

<p>I'm still finishing off the finer points of development of UK Radio Player, I hope to release it on macOS and Windows soon.</p>
