  </div>

  <button class="fab js-show-contact" title="Get in touch">
    <svg class="fab__icon fab-contact"><use xlink:href="#contact-icon"></use></svg>
    <svg class="fab__icon fab-cursor"><use xlink:href="#cursor"></use></svg>
  </button>

  <div id="contact" class="contact js-contact" aria-labelledby="contact-title" aria-hidden="true">
    <div class="site-width">
      <div class="contact__header">
        <h2 id="contact-title">Contact</h2>

        <button class="contact__close js-close-contact" aria-label="Close the contact form">&times;</button>

        <p>Send an email to <a href="mailto:sam@sambowler.co.uk">sam@sambowler.co.uk</a> or use the contact form. I'll do everything I can to get back to you in 1-2 working days.</p>
      </div>

      <div class="contact__inner">
        <form action="/contact" method="POST" class="contact-form">
          <div class="form-group">
            <label for="name">Name (optional)</label>
            <input type="text" id="name" name="name" placeholder="Joe Bloggs">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required placeholder="joe@bloggs.com" spellcheck="false">
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" cols="30" rows="5" required placeholder="Hi, I'm Joe..."></textarea>
          </div>

          <div class="contact-form-action">
            <button type="submit" class="btn btn--alt submit-contact-form" disabled>
              <span class="submit-contact-form__text">Send</span>
            </button>
          </div>
        </form>

        <div class="contact__offline">
          <p>Looks like you're offline! Feel free to get in touch by email at <a href="mailto:sam@sambowler.co.uk">sam@sambowler.co.uk</a> or wait until you're back online.</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">&copy; Sam Bowler {{copyrightDate}}</footer>

  <script src="/js/bundle.js"></script>
</body>
</html>
