<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{#if title}}{{title}} | {{/if}}Sam Bowler &middot; Freelance front-end developer in Oxford, UK</title>

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111111">
  <meta name="theme-color" content="#111111">
  {{#if description}}
  <meta name="description" content="{{description}}">
  {{/if}}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Person",
      "name": "Sam Bowler",
      "jobTitle": "Freelance UX Designer and Front-end Developer",
      "url": "http://sambowler.co.uk",
      "sameAs": ["http://twitter.com/sam_bowler", "www.linkedin.com/in/sambowler"]
    }
  </script>

  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NM7FDL3');</script>
</head>
<body class="{{bodyClass}}">
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NM7FDL3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <svg style="display: none;">
    <symbol id="user" viewBox="0 0 24 24">
      <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
      <circle cx="12" cy="7" r="4" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </symbol>

    <symbol id="briefcase" viewBox="0 0 24 24">
      <g fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"/>
        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"/>
      </g>
    </symbol>

		<symbol id="home" viewBox="-2 6 26 12">
			<path d="M0.472122028,16 C-1.52745362,14 3.4714855,16 3.4714855,15 C3.4714855,14 3.47169768,10 3.47169768,10 C3.47169773,7.13400679 11,7.0000001 11,7.0000001 C11,7.0000001 18.4683028,7.13400679 18.4683029,10 C18.4683029,10 18.468515,14.0079346 18.468515,15 C18.468515,15.9920654 23.4674542,14 21.4678785,16 C21.4678785,16 16.2633112,17 11,17 C5.73668877,17 0.472122028,16 0.472122028,16 Z" stroke-width="2" fill="none"></path>
		</symbol>

    <symbol id="contact-icon" viewBox="0 0 24 24">
      <g fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
      </g>
    </symbol>

    <symbol id="cursor" viewBox="0 0 24 24 ">
      <path d="M13,19A1,1 0 0,0 14,20H16V22H13.5C12.95,22 12,21.55 12,21C12,21.55 11.05,22 10.5,22H8V20H10A1,1 0 0,0 11,19V5A1,1 0 0,0 10,4H8V2H10.5C11.05,2 12,2.45 12,3C12,2.45 12.95,2 13.5,2H16V4H14A1,1 0 0,0 13,5V19Z" />
    </symbol>
  </svg>

  <div class="page-wrapper">
