<header class="header">
  <div class="site-width">
    <div class="header__inner">
      <a href="/" class="header__parent">
				<svg width="26px" height="12px" viewBox="-2 6 26 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<path d="M0.472122028,16 C-1.52745362,14 3.4714855,16 3.4714855,15 C3.4714855,14 3.47169768,10 3.47169768,10 C3.47169773,7.13400679 11,7.0000001 11,7.0000001 C11,7.0000001 18.4683028,7.13400679 18.4683029,10 C18.4683029,10 18.468515,14.0079346 18.468515,15 C18.468515,15.9920654 23.4674542,14 21.4678785,16 C21.4678785,16 16.2633112,17 11,17 C5.73668877,17 0.472122028,16 0.472122028,16 Z" id="Shape" stroke="#fff" stroke-width="2" fill="none"></path>
				</svg>
      </a>

      <h1>{{title}}</h1>
    </div>
  </div>
</header>

