<nav class="nav">
  <ul>
    {{#each nav}}
    <li class="nav__item{{#isCurrentPage this.url}} is-active{{/isCurrentPage}}">
      <a href="/{{this.url}}">
        <svg><use xlink:href="#{{this.icon}}"></use></svg>

        {{this.title}}
      </a>
    </li>
    {{/each}}
  </ul>
</nav>

